.App {
  box-sizing: border-box;
  text-align: center;
  background-color: #C3CEDA;
  min-height: 100vh;
  color:dimgray;
}

.CalcContainer {
  width: 500px;
  margin:auto;
  text-align: center;
  padding: 50px;
}

.CalcDisplay {
  border: 1px solid #505050;
  height: 40px;
  font-size: 2em;
  text-align: right;
  padding:10px;
  background: #505050;
  color:#F5F5E9;
  border-radius: 4px;
  margin-bottom: 2px;
}

.ButtonContainer {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.ButtonContainer > button {
  font-size: 2em;
  justify-content: center;
  color: #F2F1F0;
  background-color: #FF9500;
  border: 1px solid #1C1C1C;
  border-radius: 4px;
  padding: 5px;
}

.NumButton {
  color: #FFF1F0 !important;
  background-color: #1C1C1C !important;
}

.ClearButton {
  color: #FF9500 !important;
  background-color: #1C1C1C !important;
}

.SurnameButton {
  font-size: 2em;
  justify-content: center;
  color: #F2F1F0;
  background-color: #FF9500;
  border: 1px solid #1C1C1C;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 2px;
}

.NumButtonPJ {
  color: #FFF1F0 !important;
  background-color: #1C1C1C !important;
  font-size: 40px;
  margin-top: 50px;
}
